@model MvcApplication1.Models.MyViewModel
@{
    ViewBag.Title = "MyCollection";
}
<h2>MyCollection</h2>
@using (Html.BeginForm("MyCollection", "Home", new { CustomerName = "joydev" }, FormMethod.Post))
{
    <h2>
        Hobbies...
    </h2>
    <table>
        @Html.EditorFor(x => x.hobbies)
    </table>

    <h2>Movies...</h2>
    <table>
        @Html.EditorFor(x => x.movies)
    </table>

    <input type="submit" value="Submit" />
}

@if (IsPost)
{
    if (ViewBag.Message == "Success")
    {
        <h1>Success...</h1>
    }
}
